/* All images that are used on this site are from Google images.*/

html{
  background-color: #D8CCBB;
}

body{
  padding: 0;
  margin: 0;
}

#logo{
  padding: 15px;
  float: left;
  height:60px;
  position: fixed;
}

.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d4a057;
  text-align: center;
  padding: 14px 0px;
  font-size: 17px;
}

h1{
  width:auto;
  height: auto;
  text-align: center;
  font-family: "rumutocu";
  src:url(rumutocu);
}

h2{
  width: auto;
  height: auto;
  text-align: center;
}

h3{
  width: auto;
  height: auto;
  text-align: center;
}

a{
  font-family: "vermin vibes 2 edm xtc";
  src: url(verminvibes2edmxtxc.Lxx5.tff);
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #29461F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 36px;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
  border-top: .1px;
  border-bottom:.1px;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.flex-container{
  display:flex;
  flex-wrap: wrap;
  width:80%;
  margin-top: auto;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 100px;
  max-width: 1200px;
}

.flex-container a{
  flex-grow: 10;
  flex-shrink: 1;
  width: 170px;
  height:150px;
}

.flex-container div{
  flex-grow:10;
  flex-shrink:1;
  width:170px;
  height:150px;
}

.flex-container p{
  text-align:center;
  padding:10px;
  line-height:10px;
  vertical-align: middle;
}

/*The Genres for Each Image
1. Ambient
2. Chillout
3. Chiptune
4. Complextro
5. DownTempo
6. Drum and Bass
7. Dubstep
8. Electro Swing
9. Electronica
10. Eurobeat
11. Future Bass
12. Glitch-Hop
13. Happy Hardcore
14. Hard Bass
15. House
16. IDM
17. Jersey Club
18. Lo-Fi
19. Melborune Bounce
20. Moombahton
21. New Wave
22. Psytrance
23. Riddim
24. Synth-Wave
25. Trap */

.one {
  background-image: url("ambient.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.two{
  background-image: url("Chillout.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.three{
  background-image:url("Doctoroctoroc.jpg");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

.four{
  background-image: url("Complextro.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.five{
  background-image: url("Downtempo.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.six{
  background-image: url("Drum&BassLogo.jpg");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 102% 101%;
}

.seven{
  background-image: url("phaseone.jpg");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.eight{
  background-image: url("ElectroSwing.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.nine{
  background-image: url("Electronica.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 99% 24%;
}

.ten{
  background-image: url("InitialD.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.eleven{
  background-image: url("FutureBass.jpg");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 104% 101%;
}

.twelve{
  background-image: url("Glitchhop.png");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

.thirteen{
  background-image: url("hardcore.jpg");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 107%;
}

.fourteen{
  background-image: url("HardBass.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.fifteen{
  background-image: url("HouseMusic.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid black;
  padding: 2%;
}

.sixteen{
  background-image: url("IDM.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.seventeen{
  background-image: url("JerseyClub.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.eighteen{
  background-image: url("LoFi.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 102%;
}

.nineteen{
  background-image: url("MelboruneBounce.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.twenty{
  background-image: url("Moombahton.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.twentyone{
  background-image: url("Newwave.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.twentytwo{
  background-image: url("Psytrancelogo.png");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.twentythree{
  background-image: url("Riddim.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 98% 47%;
}

.twentyfour{
  background-image: url("Synthwave.jpg");
  background-color: black;
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 100% 101%;
}

.twentyfive{
  background-image: url("Trap.png");
  border: 2px solid black;
  padding: 2%;
  background-repeat: no-repeat;
  background-size: 101% 101%;
}

input[type=text] {
  width: 98%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  resize: vertical;
  max-width: 1000;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  margin: auto;
  border-radius: 4px;
  padding: 20px;
  max-width: 1000px;
  border: 2px #D8CCBB;
}
/* Start Media Query */
@media only screen and (min-width:600){
    .topnav {
      overflow: hidden;
    }

    .topnav a {
      float: right;
      color: #29461F;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover{
      background-color: #ddd;
      color: black;
      border-top: .1px;
      border-bottom:.1px;
    }

    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }

    .flex-container{
      display:flex;
      flex-wrap: wrap;
      width:80%;
      margin-top: auto;
      margin-right:auto;
      margin-left:auto;
      margin-bottom: 100px;
    }

    .flex-container a{
      flex-grow: 10;
      flex-shrink: 1;
      width: 170px;
      height:150px;
    }

    .flex-container div{
      flex-grow:10;
      flex-shrink:1;
      width:170px;
      height:150px;
    }

    .flex-container p{
      text-align:center;
      padding:10px;
      line-height:10px;
      vertical-align: middle;
    }
}/* END MEDIA QUERY */
